{%extends 'base.html' %}

{% block head  %} 
<title>Projet WS</title>
<style>
    body{
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:  lightskyblue;
    }
    div.jumbotron{
        background-color:  lightskyblue;

    }
</style>
{% endblock %}

{% block body  %} 
<div class="container">
    <div class="jumbotron text-white text-center">
        <h1 class="display-4">L’open data sur les données d’évolution de la maladie du covid-19</h1>
        <h2 class="lead">Voici notre projet dans le cadre de notre contriubation dans le monde de la mèdecine en utilisant le web 3.0</h2>
        <hr class="my-4">
        <h2>Etes-vous médécin ou bien patient ?</h2>
        <a class="btn btn-primary btn-lg" href="#" role="button">Je suis médecin</a>
        <a class="btn btn-primary btn-lg ml-5" href="/consultation" role="button">Je suis patient</a>
  </div>
</div>
{% endblock %}